<?xml version="1.0"?>
<model>
  <name>ar_tags</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <description>
    Collection of AR tag marker models. Individual markers are in subdirectories (marker0-marker17).
  </description>
  <author>
    <name>F1Tenth Team</name>
  </author>
</model>
</manifest>
